<% layout('/layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/index.css">
<h1>To-Do-List</h1>
<div class="mb-3">
    <a class="ml-2 text-muted" href="/new">Add New</a>
</div>
<% items.sort(function(x,y){return x.deadline.split('-').join('')-y.deadline.split('-').join('')}) %>
<% for (let item of items){%>
    <% if (!item.complete){%>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title d-inline ml-3"><%= item.title %> </h5>
                <%  if(currentUser)  {%>
                <div class="d-inline float-right">
                    <%  if(item.author.equals(currentUser._id))  {%>
                    <a class="card-link btn btn-info" href="/<%= item.id %>/edit">Edit</a>
                    <form class="d-inline" action="/index/<%= item.id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">&#128465;</button>
                    </form>
                    <% } %>
                    <form class="d-inline" action="/<%= item.id %>?_method=PUT" method="POST">
                        <button class="btn btn-success">Mark Completed</button>
                    </form>
                </div>
                <% } %>
                <div>
                    <% let date = new Date().toJSON().slice(0,10) %> 
                    <% if (item.deadline!=date) { %> 
                        <span class="card-text ml-3">
                            <small class="text-muted">due by <%= item.deadline%></small>
                        </span>
                    <% } else { %> 
                        <span class="card-text ml-3"> 
                            <small class="text-muted">due by today</small> 
                        </span> 
                    <% } %>
                </div>
            </div>
        </div>
        <% } else {%>
        <div class="card done">
            <div class="card-body">
                <h5 class="card-title d-inline ml-3"><%= item.title %> </h5>
                <%  if(currentUser)  {%>
                <div class="d-inline float-right">
                    <%  if(item.author.equals(currentUser._id))  {%>
                    <a class="card-link btn btn-info" href="/<%= item.id %>/edit">Edit</a>
                    <form class="d-inline" action="/index/<%= item.id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">&#128465;</button>
                    </form>
                    <% } %>
                    <form class="d-inline" action="/<%= item.id %>?_method=PUT" method="POST">
                        <button class="btn btn-warning">Mark Incomplete</button>
                    </form>
                </div>
                <% } %>
                <div>
                    <% let date = new Date().toJSON().slice(0,10) %> 
                    <% if (item.deadline!=date) { %> 
                        <span class="card-text ml-3">
                            <small class="text-muted">due by <%= item.deadline%></small>
                        </span>
                    <% } else { %> 
                        <span class="card-text ml-3"> 
                            <small class="text-muted">due by today</small> 
                        </span> 
                    <% } %>
                </div>
            </div>
        </div>
        <% } %>
<% }%>
<script src='/javascripts/index.js'></script>
