<% layout('layouts/boilerplate')%>

<div class="row">
    <div class="col-6">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title"><%= item.title%></h5>
                <p class="card-text">Submitted by <%= item.author.username%></p>
            </div>
            <div class="card-body">
                <a class="card-link btn btn-info" href="/<%=item._id%>/edit">Edit</a>
                <form class="d-inline" action="/index/<%=item._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
            <div class="card-footer text-muted">
                due by <%= item.deadline%>
            </div>
        </div>

    </div>
    <div class="col-6">
        <% if (currentUser) { %>
            <h2>Leave a Comment</h2>
            <form action="/<%=item._id%>/comments" method="POST" class="mb-3 validated-form" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="body">Comment</label>
                    <textarea class="form-control" name="comment[body]" id="body" cols="30" rows="3" required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <button class="btn btn-success">Submit</button>
            </form>
        <% } %>
        <% for(let comment of item.comments) { %>
            <div class="card mb-3 ">
                <div class="card-body">
                    <h5 class="card-title"> <%= comment.author.username%></h5>
                    <p class="card-text"><%= comment.body %></p>
                    <%  if(currentUser && comment.author.equals(currentUser._id)) {%>
                    <form action="/<%=item._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-sm btn-danger">Delete</button>
                    </form>
                    <% } %>
                </div>
            </div>
        <% } %>
    </div>
</div>